<div>
  <h1>Coming soon to your iPhone</h1>
  <h2>Be the first to know</h2>
</div>

<% if Rails.application.config.ended %>
    <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
    <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
    <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
    <p class="again brandon">Thank You Again!</p>
<% else %>
    <form id="textfield" method="POST" action="/users/create">
      <div id="textfield-text">
        <input type="email" placeholder="Enter your email address" name="user[email]" required/>
      </div>
      <input type="submit" id="textfield-button" value="Participate">
    </form>
<% end %>

<div id="blue-area">
  <div class="iphone-screen drittel"></div>
  <div class="countdowns zweidrittel">
    <div class="counter"><h2>Polapix left:</h2><div class="polapix-count">1</div><div class="polapix-count">0</div><div class="polapix-count">0</div><div class="polapix-count">0</div>
    </div>
    <div class="timer">
      <h2 class="drittel">time left:</h2>
      <div class="stoppuhr">20d 15h 40m</div>
    </div>
  </div>
</div>
